<div id ='comment_like-buttons-<%= comment.id %>'>
  <% if comment.user_like(current_user.id) %>
    <%= button_to article_comment_comment_like_path(@article, comment, comment.user_like(current_user)), method: :delete, class: "comment__like-button", remote: true do %>
      <%= fa_icon "thumbs-up"%> | <%= comment.likes_count %>Liked
    <% end %>
  <% else %>
    <%= button_to article_comment_comment_likes_path(@article, comment), class: "comment__like-button", remote: true do %>
      <%= fa_icon "thumbs-o-up"%> | <%= comment.likes_count %>Liked
    <% end %>
  <% end %>
</div>
