<div id ='comment_like-buttons-<%= comment.id %>'>
  <% if comment.user_like(current_user.id) %>
    <%= button_to article_comment_comment_like_path(@article, comment, comment.user_like(current_user)), method: :delete, id: "comment_like-button", remote: true do %>
      <%= image_tag("dislike.jpeg") %>
      <span>
        <%= comment.likes_count %> Liked
      </span>
    <% end %>
  <% else %>
    <%= button_to article_comment_comment_likes_path(article, comment), id: "comment_like-button", remote: true do %>
      <%= image_tag("like.jpeg") %>
      <span>
        <% comment.likes_count %> Liked
      </span>
    <% end %>
  <% end %>
</div>
