<%= javascript_include_tag 'articles/preview' %>
<%= form_for @article do |f| %>
   <div>
     <%= f.label :title, "Title" %><br>
     <%= f.text_field :title %>
   </div>
   <div>
     <%= f.label :tag_list, "Tags (separated by commas)" %><br>
     <%= f.text_field :tag_list, input_html:{data:{role:'tagsinput'}} %>
   </div>
   <div>
     <%= f.text_area :body, rows: 30 %>
   </div>
  <%= f.submit "Update" %>
<% end %>
<p>Pereview</p>
<div id='preview--container'>
  <!-- ここにjsでpreview表示する -->
</div>
