<h1>Articles#edit</h1>
<%= form_for @article, remote: true do |f| %>
   <div>
     <p><%= f.text_field :title %>
   </div>
   <div>
     <%= f.text_area :body, rows: 30 %>
   </div>
   <div>
     <%= f.label :tag_list, "Tags (separated by commas)" %><br />
     <%= f.text_field :tag_list %>
   </div>
  <%= f.submit "送信" %>
  <%= f.submit 'Preview表示', :name => 'preview_button' %>
<% end %>

<div id='preview'>
  <%= render partial: 'preview' %>
</div>
<p>Find me in app/views/articles/edit.html.erb</p>
