<h1>Articles#edit</h1>
<%= form_for @article do |f| %>
   <div>
     <p><%= f.text_field :title %>
   </div>
   <div>
     <%= f.text_field :body %>
   </div>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.submit "送信" %>
<% end %>
<p>Find me in app/views/articles/edit.html.erb</p>
