  <p>Search Articles<p>
  <%= form_tag(search_articles_path, method: :get, remote: true) do %>
    <%= text_field_tag :keyword %>
    <%= submit_tag "search", name: nil %>
  <% end %>

  <%= link_to "Tags", tags_path, method: :get %>
  <%= link_to "Post ", new_article_path(), method: :get %>

  <div class='searched-results'>
    <%= render partial: 'result', locals: { articles: @articles, keyword: nil } %>
  </div>
