<h1>Timeline</h1>

  <p>記事をキーワードで検索<p>
  <%= form_tag(search_searched_articles_path, method: :get, remote: true) do %>
    <%= text_field_tag :keyword %>
    <%= submit_tag "検索", name: nil %>
  <% end %>

  <%= button_to "タグ一覧", tags_path, method: :get %>
  <%= button_to "全員に公開で記事を書く", new_article_path(), method: :get %>

  <div id='searched_results'>
    <%= render partial: 'result', locals: { articles: @articles, keyword: nil } %>
  </div>

<p>Find me in app/views/articles/index.html.erb</p>
