<h1>Articles#new</h1>
  <%= form_for @article do |f| %>
    <div>
      タイトル：<%= f.text_field :title %>
    </div>
    <div>
      本文：<%= f.text_area :body, rows: 30 %>
    </div>
    <div>
       <%= f.label :tag_list, "Tags (separated by commas)" %><br>
       <%= f.text_field :tag_list %>
    </div>
    <%= f.hidden_field :group_id, value: session[:group_id] %>
    <%= f.submit "送信" %>
  <% end %>

<p>Find me in app/views/articles/new.html.erb</p>
