<% if @group.id == MASTER_GROUP_ID %>
  <h1>全体に投稿</h1>
<% else %>
  <h1><%= @group.name %>に投稿</h1>
<% end %>

  <%= form_for @article, remote: true do |f| %>
    <div>
      タイトル：<%= f.text_field :title %>
    </div>
    <div>
      本文：<%= f.text_area :body, rows: 30 %>
    </div>
    <div>
       <%= f.label :tag_list, "Tags (separated by commas)" %><br>
       <%= f.text_field :tag_list %>
    </div>
    <%= f.hidden_field :group_id, value: @group.id %>
    <%= f.submit "送信" %>
    <%= f.submit 'Preview表示', :name => 'preview_button' %>
  <% end %>

  <div id='preview'>
    <%= render partial: 'preview' %>
  </div>

<p>Find me in app/views/articles/new.html.erb</p>
