<div class='article-viewer'>
  <div class='article'>

    <div class='article-header'>
      <%= image_tag @article.user.image.to_s, class: 'article-user__image' %>
      <div class='article__information'>
        <div class='article__user-name'>
          <%= link_to @article.user.username, @article.user %>
        </div>
        <div class='article__updated-at'>
          <%= @article.created_at %>
        </div>
      </div>
      <div class='article__header--right'>
        <% if @article.stocked?(current_user) %>
          <%= button_to article_stock_path(@article, @article.related_stock(current_user)),
            method: :delete,
            class: 'article__stock-button' do
          %>
            <%= fa_icon "folder-open" %> | unstock
          <% end %>
        <% else %>
          <%= button_to article_stocks_path([@article, @stock]),
            class: 'article__stock-button' do
          %>
            <%= fa_icon "folder-open-o" %> | stock
          <% end %>
        <% end %>
        <!-- 書いた本人なら編集と削除のボタンを表示 -->
        <% if current_user == @article.user %>
          <%= link_to "Edit",
            edit_article_path(@article),
            method: :get,
            class: 'article__edit-button'
          %>
          <%= link_to "Delete",
            @article,
            method: :delete,
            class: 'article__delete-button'
          %>
        <% end %>
      </div>
    </div>

    <div class='article-main'>
      <div class='article__title'>
        <%= @article.title %>
      </div>
      <% unless @article.group.id == MASTER_GROUP_ID %>
        <%= link_to @article.group.name, @article.group, html: { class: 'article__group' } %>
      <% end %>

      <div class='article__body'>
        <%= markdown(@article.body).html_safe %>
      </div>
      <!-- タグをそれぞれリンクにして表示 -->
      <div class='article__tags', style="display:inline-flex">
        Tags:  <%= raw @article.tag_list.map { |t| link_to t, tag_path(t) }.join('') %>
      </div>
    </div>

    <div class='article-footer'>
      <!-- LikeとUnlikeを切り替える -->
      <div id='article_like-buttons'>
        <%= render partial: "article_like", locals: { article: @article }  %>
      </div>
    </div>
  </div>

  <div class='comments-container'>
    <%= render partial: 'comments', locals: { article: @article, comments: @comments } %>
    <%= render partial: 'comment_form', locals: { article: @article, comment: @comment } %>
  </div>
</div>
