<div class='article'>
  <div class='article--header'>
    <!-- 投稿者のリンクを表示 -->
    <div class='aricle__contributer'>
      Contributer:<%= link_to @article.user.username, @article.user %>
    </div>
    <!-- ストックとアンストックを切り替え -->
    <% if @article.stocked?(current_user) %>
      <%= button_to "stock", [@article, @article.related_stock(current_user)], method: :delete %>
    <% else %>
      <%= button_to "unstock", [@article, @stock] %>
    <% end %>
    <!-- 書いた本人なら編集と削除のボタンを表示 -->
    <% if current_user == @article.user %>
      <%= link_to "編集", edit_article_path(@article), method: :get %>
      <%= link_to "削除", @article, method: :delete %>
    <% end %>
  </div>

  <div class='article-body'>
    <div class='article__title'><%= @article.title %></div>
    <!-- もしグループ内投稿ならグループへのリンクを表示 -->
    <% unless @article.group.id == MASTER_GROUP_ID %>
      <%= link_to @article.group.name, @article.group, html: { class: 'article__group' } %>
    <% end %>

    <div class='artilcle__body'>
      <%= markdown(@article.body).html_safe %>
    </div>
    <!-- タグをそれぞれリンクにして表示 -->
    <div class='article__tags', style="display:inline-flex">
      Tags:  <%= raw @article.tag_list.map { |t| link_to t, tag_path(t) }.join('') %>
    </div>
  </div>

  <div class='footer'>
    <!-- LikeとUnlikeを切り替える -->
    <div id='article_like-buttons'>
      <%= render partial: "article_like", locals: { article: @article }  %>
    </div>
  </div>

<div id='comments'>
  <%= render partial: 'comments', locals: { article: @article, comments: @comments } %>
</div>

<div id='comment-form'>
  <%= render partial: 'comment_form', locals: { article: @article, comment: @comment }  %>
</div>
