<h1>Edit Group</h1>
<%= form_for @group do |f| %>
   <div>
     <%= f.label :name, "Group Name" %>
     <%= f.text_field :name %>
   </div>
   <div>
     <%= f.label :body, "About this Group" %>
     <%= f.text_field :body %>
   </div>
   <div>
     <%= f.check_box :private, {}, checked_value = true,unchecked_value = false %>
     <%= f.label :private, "Make this group Private?" %>
     <p>In 'Private' groups, only members can read articles</p>
   </div>
   <%= f.submit "Update" %>
<% end %>
