<h1>Groups#index</h1>

  <p>参加しているグループ</p>
  <% @belonged_groups.each do |group| %>
     <%= link_to group.name, group_path(group) %>
     <%= group.body %>
     <br>
  <% end %>

  <p>参加していないグループ</p>
  <% if @not_belonged_public_groups %>
    <% @not_belonged_groups.each do |group| %>
       <%= link_to group.name, group_path(group) %>
       <%= group.body %>
       <%= button_to '参加する', "/groups/#{group.id}/group_users" %>
       <br>
    <% end %>
  <% else %>
   <p>参加できるグループはありません</p>
  <% end %>

    <%= button_to "create an group", new_group_path(), :method => :get %>
<p>Find me in app/views/groups/index.html.erb</p>
