<div class='title-container'>
  <p class='tab-title'>Groups</p>
</div>

  <%= link_to "Create New Group", new_group_path(), method: :get %>

  <p>Your Groups</p>
  <% current_user.belonging_groups_without_master.each do |group| %>
    <div class='group'>
      <%= link_to group.name, group_path(group) %>
      <%= group.articles.length %>
      <%= group.users.length %>
    </div>
  <% end %>

  <p>Groups You Can Join</p>
  <% if current_user.not_belonging_public_groups %>
    <% current_user.not_belonging_public_groups.each do |group| %>
       <%= link_to group.name, group_path(group) %>
       <%= group.articles.length %>
       <%= group.users.length %>
       <%= link_to 'Join', group_group_users_path(user_id: current_user.id, group_id: group.id), method: :post %>
       <br>
    <% end %>
  <% else %>
   <p>There are no groups you can join in</p>
  <% end %>
