<h1>Create New Group</h1>
  <%= form_for @group do |f| %>
     <div>
       <%= f.label :name, "Group Name" %>
       <%= f.text_field :name %>
     </div>
     <div>
       <%= f.label :body, "About this Group" %>
       <%= f.text_field :body %>
     </div>
    <br>
     <div>
       <%= f.check_box :private, {}, checked_value = true,unchecked_value = false %>
       <%= f.label :private, "Make this group Private?" %>
       <p>In 'Private' groups, only members can read articles</p>
     </div>
     <%= f.hidden_field :manager_id, value: current_user.id %>
     <%= f.submit "Create" %>
  <% end %>
