<h1>Groups#new</h1>
  <%= form_for @group do |f| %>
     <div>
       <%= f.label :name, "Group name" %>
       <%= f.text_field :name %>
     </div>
     <div>
       <%= f.label :body, "About this group" %>
       <%= f.text_field :body %>
     </div>
    <br>
     <div>
       <%= f.check_box :private, {}, checked_value = true,unchecked_value = false %>
       <%= f.label :private, "Privateグループにする" %>
       <p> Privateグループはメンバー招待されたユーザーのみ参加できます。 </p>
     </div>
     <%= f.hidden_field :manager_id, value: current_user.id %>
     <%= f.submit "送信" %>
  <% end %>
<p>Find me in app/views/groups/new.html.erb</p>
