<h1>Groups#show</h1>
  <p>グループ名</p>     <%= @group.name %><br>
  <p>概要</p>          <%= @group.body %><br>
  <p>管理者</p>        <%= @manager.username %>

  <% if @group.manager_id == current_user.id %>
    <!-- 管理者だけが編集できる -->
    <%= button_to "編集",edit_group_path(@group) %>
    <!-- 管理者だけが削除できる -->
    <%= button_to "削除", @group, :method => :delete %>
    <!-- 管理者が権限を移行する権利をもつ -->
    <%= button_to '管理者を変更',  "/groups/#{@group.id}/change_manager" , method: :get %>
  <% end %>


  <h2>メンバー一覧</h2>
  <% @users.each do |user| %>
    <%= link_to user.username, user_path(user.id) %>
  <% end %>

  <!-- privateがtrueならメンバーのinviteぺージへのリンクを表示 -->
  <%if @group.private == true %>
    <%= link_to "userを検索",  "/groups/#{@group.id}/invite" %>
  <% end %>

<p>Find me in app/views/groups/show.html.erb</p>
