<%= render partial: 'groups/sidebar' %>

<div class='group-body'>
  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#tab1" class="nav-link" data-toggle="tab">
        <%= fa_icon 'file-text' %> Articles
      </a>
    </li>
    <li>
      <a href="#tab2" class="nav-link" data-toggle="tab">
        <%= fa_icon 'users' %> Members
      </a>
    </li>
  </ul>

  <div class="tab-content">
    <div id="tab1" class="tab-pane active">
      <!-- グループに紐づけて記事を書く場合のボタン -->
      <%= link_to  new_article_path(group_id: @group.id),
        method: :get,
        class: 'post-article-button' do
      %>
         <%= fa_icon 'pencil-square-o' %> Post New Article in Group
      <% end %>
      <!-- グループに紐づけられた記事の一覧 -->
      <% if @group.articles.present? %>
        <%= render partial: 'articles/result', locals: { articles: @group.articles.page(params[:page]).per(1) } %>
      <% else %>
        <p>There are no articles in this group</p>
      <% end %>
    </div>
    <div id="tab2" class="tab-pane">
      <!-- privateがtrueならメンバーのinviteぺージへのリンクを表示 -->
      <% if @group.private == true %>
        <%= link_to new_group_group_user_path(@group, @group_user) do %>
          <%= fa_icon 'plus-square' %> Invite New Member
        <% end %>
      <% end %>
      <!-- メンバーの一覧表示 -->
      <div>
        <% @group.users.each do |user| %>
          <div class='group__member'>
            <%= image_tag user.image.to_s, class: 'group__member__image' %>
            <%= link_to user.username, user_path(user.id), class: 'group__member__name'%>
          </div>
        <% end %>
      </div>
    </div>
  </div>
