<h1><%= @group.name %>にメンバーを追加</h1>
<div>
  <%= form_tag( group_users_search_path(@group.id), method: :get) do %>
    <input name="keyword" placeholder="ユーザーを名前で検索" type="text">
      <button title="検索" type="submit">
      </button>
    </input>
  <% end %>
</div>

<div>
  <% @users.each do |user| %>

    <%= user.name %><br>
    <%= user.email %><br>
    <% if GroupUser.exists?(user_id: user.id, group_id: @group.id) %>
      <span>すでに参加しています</span>
    <% else %>
      <%= form_for [@group, @group_user] do |f| %>
        <%= f.hidden_field :user_id, :value => user.id %>
        <%= f.hidden_field :group_id, :value => @group.id %>


        <%= f.submit "招待する" %>
      <% end %>
    <% end %>
  <% end %>
</div>
