<div class='user-sidebar'>
  <div class='user-sidebar__header'>
    <%= image_tag @user.image.to_s, class: 'user__image' %>
    <div class='user__name'>
      <%= @user.username %>
    </div>
  </div>
  <div class='user__contributions'>
    <div class='user__article-count user__contribution'>
      <div class='user__contribution__label'>Articles</div>
      <div class='user__contribution__count'><%= @user.articles.length %></div>
    </div>
    <div class='user__stock-count user__contribution'>
      <div class='user__contribution__label'>Stocks</div>
      <div class='user__contribution__count'><%= @stocked_articles.length %></div>
    </div>
    <div class='user__comment-count user__contribution'>
      <div class='user__contribution__label'>Comments</div>
      <div class='user__contribution__count'><%= @user.comments.length %></div>
    </div>
  </div>
  <div class='user-sidebar__footer'>
    <% if @user == current_user %>
      <%= link_to "Edit",
        edit_user_registration_path,
        method: :get,
        class: 'user__edit-button'
    %>
    <% end %>
  </div>
</div>
<div class='user-page__body'>
  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#tab1" class="nav-link" data-toggle="tab">
        Articles
      </a>
    </li>
    <li>
      <a href="#tab2" class="nav-link" data-toggle="tab">
        Stocks
      </a>
    </li>
    <li>
      <a href="#tab3" class="nav-link" data-toggle="tab">
        Comments
      </a>
    </li>
  </ul>
  <div class="tab-content">
    <div id="tab1" class="tab-pane active">
      <% if @user.articles.present? %>
          <%= render partial: 'articles/result', locals: { articles: @user.articles.page(params[:page]).per(1) } %>
      <% else %>
        <div>There are no articles stocked </div>
      <% end %>
    </div>
    <div id="tab2" class="tab-pane">
      <% if @stocked_articles.present? %>
        <%= render partial: 'articles/result', locals: { articles: @stocked_articles.page(params[:page]).per(1) } %>
      <% else %>
        <div>There are no articles stocked </div>
      <% end %>
    </div>
    <div id="tab3" class="tab-pane">
      <% if Article.commented_by(current_user).present? %>
        <%= render partial: 'articles/result', locals: { articles: Article.commented_by(current_user).page(params[:page]).per(1) } %>
      <% else %>
        <div>There are no articles commented </div>
      <% end %>
    </div>
  </div>
</div>
