<h1>Change the manager of <%= @group.name %></h1>
<div>
  <%= form_tag change_manager_group_managers_path(@group), method: :get do %>
    <input name="keyword" placeholder="Search members by name" type="text">
      <button type="submit">Search</button>
    </input>
  <% end %>
</div>

<div>
  <% if User.searched_by_name(params[:keyword]).present? %>
    <% User.searched_by_name(params[:keyword]).each do |user|%>
      <% if @group.users.include?(user) %>
        <%= user.username %>
        <%= user.email %>
        <% if user.id == @group.manager_id %>
          <span>Current Manager</span><br>
        <% else %>
          <%= form_for @group do |f| %>
            <%= f.hidden_field :manager_id, value:  user.id %>
            <%= f.submit "Make new Manager" , data: { confirm: "Are you sure to change manager to #{user.username}？" }%>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% else %>
    <p>No members hit</p>
  <% end %>
</div>
