<% if article.like_user(current_user.id) %>
  <%= button_to article_article_like_path(article, article_id: article.id), method: :delete, id: "like-button", remote: true do %>
    <%= image_tag("dislike.jpeg") %>
    <span>
      <h5><%= article.likes_count %>いいねされています</h5>
    </span>
  <% end %>
<% else %>
  <%= button_to article_article_likes_path(article), id: "like-button", remote: true do %>
    <%= image_tag("like.jpeg") %>
    <span>
      <h5><% article.likes_count %>いいねされています</h5>
    </span>
  <% end %>
<% end %>
