<%= render partial: 'articles/top_tabs' %>

<div class='title-container'>
  <p class='tab-title'>Tags</p>
</div>

<div class='tags-container'>
  <div class='tags__sum'>
    <%= fa_icon 'tags' %> There are <%= @tags.length %> tags
  </div>
  <div class='tags'>
    <% @tags.each do |tag| %>
      <% unless tag.taggings_count == 0 %>
        <div class='tag'>
          <div class='tag__name'>
            <%= fa_icon 'tag' %> <%= link_to tag.name, tag_path(tag.name) %>
          </div>
          <div class='tag__count'>
            include <%= tag.taggings_count %> articles
          </div>
        </div>
      <% end %>
    <% end %>
    <div class='pagination'>
      <%= paginate @tags %>
    </div>
  </div>
</div>
